<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
  <%= image_tag "top_img.jpg", class:"hero-image" %>
  <%= render "shared/side_bar"%>
    <div class="top-main">
<div class="main-box">
  <h3 class="program-title">顧客登録</h3>
  <div class="program-new-box">
    <% @schedules.each do |schedule| %>
      <%= form_with model: [@team, @reserve], url:team_reserves_path, method: :post, local: true do |f| %>
        <div class="program">
          <div class="program-name">
            <span><%shedule.date%></span>
            <span><%shedule.start_time%></span>
            <p>枚数</p>
            <%= f.text_field :name, class:"program-name-input"%>
          </div>
        </div>
        <div class="program-submit-box">
          <%= f.submit "登録",class:"btn-flat-border-submit", id:"new-submit" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>