<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
    <%= image_tag "top_img.jpg", class:"hero-image" %>
    <div class="hero-items-new">
      <div class="hero-text__main">新規登録</div>
      <div class="service-btn-new">
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :nickname %> <br /><em>(12文字以下)</em><br />
            <%= f.text_field :nickname, autofocus: true, maxlength: "12" %>
          </div>
          
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "登録" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>