<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
    <%= image_tag "top_img.jpg", class:"hero-image" %>
      <%= render "shared/side_bar"%>
      <div class="top-main">
        <div class="menu-top-content">公演管理</div>
        <ul class="menu-show-lists">
          <li class="menu-show-list"><%= link_to '公演管理', new_team_program_path(@team) %></li>
          <li class="menu-show-list">編集/削除</li>
        </ul>
        <div class="program-lists">
          <% @programs.each do |program| %>
            <div class="program-list">
              <p><%= program.name %></p>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
<%= render "shared/footer"%>