<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
    <%= image_tag "top_img.jpg", class:"hero-image" %>
      <%= render "shared/side_bar"%>
      <div class="top-main">
        <div class="menu-top-content">公演管理</div>
        <ul class="menu-show-lists">
          <li class="menu-show-list"><%= link_to '新規公演登録', new_team_program_path(@team) %></li>
        </ul>
        <div class="program-lists">
        <p class="lists-title">公演 リスト</p>
          <% @programs.each do |program| %>
            <div>
              <span class="program-list"><%= program.name %></span>
              <span class="program-delete"><%= link_to '詳細', "/teams/#{@team.id}/programs/#{program.id}" %></span>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
<%= render "shared/footer"%>