<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
    <%= image_tag "top_img.jpg", class:"hero-image" %>
      <%= render "shared/side_bar"%>
      <div class="top-main">
        <div class="schedule-program"><%= @program.name %></div>
        <div class="schedule-lists" >
        登録したい日付を選択し「公演日程追加」を押下してください
        </div>
        <%= form_with model: @schedule, url: team_program_schedules_path, method: :post, local: true do |f| %>
          <div>
              <%= f.date_field :date, class:"nst-form" %>
              <%= f.time_field :start_time, class:"nst-form" %>
              <%= f.text_field :ticket_number, class:"nst-form", placeholder: "チケット枚数を入力してください" %>
          </div>
        <%= f.submit '公演日程追加', class:'nst-add-btn' %>
        <% end %>
        <div class="schedule-lists" >
        登録済み日時一覧
        </div>
        <div class="schedule-info-lists">
          <% @schedules.each do |schedule| %>
            <div class="schedule-list">
              <div class="schedule-date"><%= schedule.date.strftime("%m月%d日") %></div>
              <div class="schedule-time"><%= schedule.start_time.strftime("%R") %></div>
              <div class="li-ticket-number"><%= schedule.ticket_number %>枚</div>
              <div class="schedule-list-delete"><%= link_to '削除', "/teams/#{@team.id}/programs/#{@program.id}/schedules/#{schedule.id}", method: :delete%></div>
            </div>
          <% end %>
        </div>
        <div class="edit-fin">
          <%= link_to '登録完了', "/teams/#{@team.id}/programs", data: {confirm: "公演管理メニューへ戻ります"} %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>