<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
    <%= image_tag "top_img.jpg", class:"hero-image" %>
    <div class="hero-items">
      <div class="hero-text__main">TicketBunchへようこそ</div>
      <div class="service-content">
        <div class="service-items">
          <div class="service-explanation-top">TicketBunchでできること</div>
            <ul class="service-lists">
              <li class="service-list-program">公演管理</li>
              <li class="service-list-reserve">予約管理</li>
              <li class="service-list-seat">配席管理</li>
              <li class="service-list-customer">顧客管理</li>
            </ul>
            <ul class="service-explanation-lists">
              <li class="service-explanation-program">
                公演情報を一括登録、過去の公演情報や予約者情報を一覧で見ることができます
                <%= image_tag "sample1.png", class:"explanation-image" %>
              </li>
              <li class="service-explanation-reserve">
                予約情報を顧客ごとに登録でき、顧客情報や予約情報の管理を行うことができます
                <%= image_tag "sample1.png", class:"explanation-image" %>
              </li>
              <li class="service-explanation-seat">
                空席情報やチケット倍率など、さまざまな情報を参照して配席を行うことができます
                <%= image_tag "sample1.png", class:"explanation-image" %>
              </li>
              <li class="service-explanation-customer">
                連絡先や過去の予約状況が参照でき、挨拶状や案内状の送付にも役立ちます
                <%= image_tag "sample1.png", class:"explanation-image" %>
              </li>
            </ul>
            </div>
            <div class="service-btn">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "current-password" %>
               </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>

                <div class="actions">
                  <%= f.submit " ログイン " %>
                </div>
                <div class="new-user-registration-btn">
                  <%= link_to '新規登録', new_user_registration_path %>
                </div>
              <% end %>
            </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>